label {
  display: block;
  text-transform: uppercase;
  color: $dark-gray;
  font-size: 0.8125em;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
}

input[type="text"] {
  background-color: white;
  padding: 1em;
  border: 1px solid $light-gray;
  border-radius: 3px;
  height: calc(60px - 1em);
  font-size: 1.25em;
  font-family: inherit;
  color: $text;
}