// heading scale, ~ 75%;

h1, h2, h3, h4, h5, h6 {
  color: $text;
  font-weight: 500; // medium
  margin: 0 0 1em 0;
}

h1 {
  font-size: 3.75em; // 60pt / 72pt
  line-height: 1.2; 
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2.8125em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 0.85em;
}

p {
  color: $neutral;
  font-size: 1em; // 16pt / 28pt
  line-height: 1.75; 
  margin: 0 0 1.75em 0;
}


// UTILITY CLASSES





