// Colors
  // Primary:
    $text: #4f4f6f;
    $light-bg: #f9fafc;
    $primary: #6e45e2;
    $white: white;
  // Secondary:
    $secondary: #68cef0;
    $primary-tone: #cad0e0;
    $neutral: #a8abb4;