@mixin button-reset {
  background-color: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  font-family: inherit;
  border: none;
  display: block;
}

@mixin columns($columns, $gutter) {
  box-sizing: border-box; // just to be sure
  $num-gutters: $columns - 1; // the number of gutters is one less than the number of columns
  // loop through 1 - columns and reset nth childs to fix media query cascade issues
  @for $i from 1 through $columns {
    &:nth-child(#{$i}n) {
      margin-right: $gutter;
    }
  }
  $gutter-size-col-reduce: $gutter*$num-gutters/$columns; // this finds the amount you have to reduce each column width by by taking the gutter, multiplying that by how many gutters you have and then dividing by how many columns you have
  
  // BTW, I always use width as a backup for flex-basis because IE doesn't like calc on flex-basis
  width: calc(#{100/$columns}% - #{$gutter-size-col-reduce});
  flex-basis: calc(#{100/$columns}% - #{$gutter-size-col-reduce});
  margin-right: $gutter; // all items get a gutter margin on the right
  margin-left: 0; 
  &:nth-child(#{$columns}n) {
    margin-right: 0; // then we take that margin away from the last column in the row
  }
}