@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');

/**
 * Fabricator styles
 * @author Luke Askew
 * Class selectors are namespaced with "f-"
 */

$settings: (
	theme: light,
	accent: hsl(0, 0%, 46%),
	menu-width: 14rem
);

@import 'mixins';

@import 'partials/variables';
@import 'partials/code';
@import 'partials/color-chips';
@import 'partials/controls';
@import 'partials/item';
@import 'partials/layout';
@import 'partials/menu';

@import 'base/index';

@import 'atoms/index';

@import 'molecules/index';


// OVERRIDES FOR FBRCTR INTERFACE
.f-item-heading,
.f-menu,
.f-container > h1 {
	font-family: "Source Code Pro", sans;
	color: #445;
}