h2.label {
  font-size: 0.875em; // 14pt / 32pt
  line-height: 2.28;
  color: $dark-gray;
  text-transform: uppercase;
  padding-left: 2.75em;
  position: relative;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 1.25em;
    display: block;
    height: 1px;
    width: 1.75em;
    background-color: $primary;
  }
}